.navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: rgba(171, 134, 241, 1);
  padding: 5px 0;
  flex-flow: row wrap;
  color: black;
  margin-bottom: 30px;
}
