.EndGame {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 15px;
  background: rgb(171,134,241,1);
  padding: 40px 0;
  border-radius: 15px;
  color: black;
}

.EndGame h1 {
  margin-bottom: 15px;
}

.EndGame p {
  margin-bottom: 15px;
}

.EndGame button {
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 20px;
  background: #29b629;
  outline: none;
  border: none;
}

@media all and (max-width: 767px) {
  .EndGame {
    padding: 15px;
    text-align: center;
  }
}
